body{
    background: url(./emandamento.gif) repeat-x;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(153, 8, 146);
}