*{
    
    margin:0;
    padding: 0;
}
@font-face {
    font-family:'vapo';
    src: url('./conthras/conthrax-sb.ttf') format('opentype');
}
/*vou admitir que o paralax foi de primeira hein*/
body {
    background: url(./../img/OutroGifManeiroaí.gif) repeat-x;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15px;
    
  
    
}

#Haki{
    display: flex;
    flex-direction: row-reverse;
    
    justify-content: space-evenly;
}

/*--------------------------------Css do Menu-----------------*/
.tudo{
    background-image: url(./../img/waporwavegrid.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 10px solid rgb(35, 6, 117);
    display: grid;
    width:auto;
    

}

.Cabeçalho h1{
    background: linear-gradient( to top, rgb(123, 57, 215),rgb(214, 144, 244));
    border: 2px solid rgb(133, 75, 133);
    color: #eaff49;
    text-shadow:#ffa2cd 0 -2px ;
}

.tudo::after{
  content: "";
  clear: both;
  display: table;
}
#menu{
    
    height: min-content;
    border: solid 2.5px #a03cab;
    
}

#menu ul{
    list-style: none;
    border: solid 2.5px #3cd2e3;
    background: linear-gradient(to bottom, rgb(83, 0, 79), rgb(0, 0, 0));
    padding: 0px;
    margin: 0px;
    display:flex;
    height: 40px;
    align-items: center;
    
    
}
#menu li{
    
    text-align: center;
    border-right: 2px solid rgb(248, 131, 248);
    width: 150px;
    padding: 9px;
    
}
#menu ul li a{
    text-shadow: rgb(87, 87, 87) 0 -3px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    
   
    
}
#menu li:hover{
    background:rgb(147, 82, 212) 
    ;
}
#menu a:hover{
    color: rgb(255, 247, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: 17px;
}
#cab .imgconf1{
    border: 2px solid rgb(109, 0, 139);
   float: left;
    width: 240px;
    height: 200x;
    
}


.fix{
    clear: both;
}



#social img{
    border: 1px solid;
    border-style:groove;
    border-color: rgb(0, 255, 255);
}

/*-------------------------------------Css do Menu Fim------------------*/



/*---------------------------section e aside*--------------------------*/

#lateral{
    
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(126, 0, 228),rgb(31, 121, 106));
    min-width: 5vh;
    max-width: 20vh;
    max-height: fit-content;
    padding: 5px;
    border-style: groove;
    border-color: rgb(184, 11, 77);
    margin: 3vh;
    
}

#lateral h1{
    font-size: 20px;
    text-align: center;
    color: #aa1177;
    border-bottom: 1px solid violet;
    border-top: -5px;
    text-shadow:#ee1177 0 -2px ;
}

#lateral h2{
    font-size: 15px;
    text-align: left;
    color: violet;
}

#lateral p{
    text-align: justify;
    color: #fff;
}
#main {
    background:url(./../img/the\ end\ mano.gif) repeat-x;
    background-size: contain;
    background-attachment: fixed;
    margin: 3vh;
    color: #fff;
    border-radius: 10px;
    min-width: 50vh;
    max-width: 80vh;
    padding: 10px;
    
    border-style: groove;
    border-color: rgb(184, 11, 77);
   
    
}
#main h1 {
    color: rgb(214, 144, 244);
    font-size: 25px;
    border-bottom: 2px solid violet;
    font-family:'vapo';
    text-shadow: rgb(238, 0, 255) 0 -2px;
}
#main h2{
    color: rgb(234, 82, 224);
     font-size: 15px;
}

#main p{
    text-align: justify;
    
}
/*-----------------Section e Aside Fim----------------------*/

/*-------Footer-----------*/

#final{
    border: 5px solid violet;
    margin-top: 80px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    background: linear-gradient(to right,rgb(15, 105, 143), rgb(14, 5, 111));
    color: rgb(235, 255, 20);
    border-style: double;
    border-color: rgb(184, 11, 77);
    text-shadow: rgb(255, 0, 247) 0 -2px;
    text-align: end;
}

#final p {
    font-size: larger;
}

#final a:visited{
    color: #eaff49;
}


/* BANNER*/



#Banner{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400vh;
    max-height: 80vh ;
    min-height: 50vh;
    border: solid 1vh #ee1177;
    margin: 10vh;
    background-color: #020a4eab;
    border-radius: 1vh;

}

#Banner h1{
     color: #feffaf;
     text-shadow: 0 -4px #3cd2e3;
     font-size: 40pt; 
     padding: 10vh;
     text-align: center;

}

